<div class="ui form">
    
    <div class="ui segment">
        {{ selectedPerson.name }}, {{ selectedPerson.company }}, {{ selectedPerson.address}}
    </div>
    
    <div class="ui fields">
        <button 
            class="ui blue icon button"
            ng-click="showProductDetails()">
            <i class="ui icon info"></i>
        </button>
        <div class="four wide field">
            <label for="product_name">Select Product</label>
            <select 
                id="productNameSelectBox" 
                class="ui search selection fluid dropdown"
                ng-init="getProducts();initDropdown();"
                ng-options="product.name for product in products"
                ng-model="selectedProduct">
                <input type="text" hidden>
            </select>
        </div>

        <div class="three wide field">
            <label for="quantity">Quantity</label>
            <div class="ui right labeled input">
                <input type="number"
                        min="0"
                        step="1"
                        value="0"
                        ng-change="computeData()"
                        ng-model="transaction.quantity">
                <div class="ui basic label">
                    {{ selectedProduct.unit }}
                </div>
            </div>
        </div>

        <div class="two wide field">
            <label for="rate">Rate (Excl. Tax)</label>
            <div class="input">
                <input type="number"
                       min="0"
                       step="0.01".
                       value="0"
                       ng-change="computeData()"
                       ng-model="transaction.rate">
            </div>
        </div>

        <div class="three wide field">
            <label for="">Amount (Excluding Tax)</label>
            <div class="input">
                <input type="number"
                       ng-model="transaction.amountExTax"
                       readonly>
            </div>
        </div>

        <div class="three wide field">
            <label for="">Amount (With Tax)</label>
            <div class="input">
                <input type="number" 
                       ng-model="transaction.amountIncTax"
                       readonly>
            </div>
        </div>

    </div>
    <div class="five fields">
        <div class="field">
            <label for="sgst_rate">SGST Rate</label>
            <div class="input">
                <input type="number" 
                       id="sgstRateField"
                       min="0"
                       max="100"
                       step="0.01"
                       ng-change="computeData()"
                       ng-model="transaction.sgst_rate">
            </div>
        </div>
        <div class="field">
            <label for="sgst_amount">SGST Amount</label>
            <div class="input">
                <input type="number" 
                       ng-model="transaction.sgst_amount"
                       ng-change="computeData()"
                       value="0">
            </div>
        </div>
        <div class="field">
            <label for="cgst_rate">CGST Rate</label>
            <div class="input">
                <input type="number" 
                       id="cgstRateField"
                       min="0"
                       max="100"
                       ng-change="computeData()"
                       step="0.01"
                       ng-model="transaction.cgst_rate">
            </div>
        </div>
        <div class="field">
            <label for="">CGST Amount</label>
            <div class="input">
                <input type="number"
                       min="0" 
                       value="0"
                       ng-change="computeData()"
                       ng-model="transaction.cgst_amount">
            </div>
        </div>

        <div class="field">
            <label for="">Total Tax</label>
            <div class="input">
                <input type="number" 
                       min="0"
                       ng-model="transaction.totalTax"
                       readonly>
            </div>
        </div>

        <div class="field">
            <label for="">Submit Data</label>
            <div class="input">
                <button class="ui fluid basic green button"
                        ng-click="addTransactionRow();">
                        Add Row
                </button>
            </div>
        </div>
        

    </div>

</div>