<table
    class="ui bottom attached compact selectable table">
    <thead>
        <tr>
            <td>#</td>
            <td>Date</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        <tr
            ng-click="selectInvoice(invoice)"
            ng-repeat="invoice in invoices | filter:query | dataTable:count:index">
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.posted_on }}</td>
            <td>{{ invoice.totalAmount }}</td>
        </tr>
    </tbody>
</table>