<div class="ui full screen modal" 
     ng-init="initModal();" 
     id="ProductDetailsModal"> 
    <div class="header">
        {{ product.name }}
    </div>
    <div class="scrolling content">
        <table class="ui compact celled striped table">
            <thead>
                <tr>
                    <td rowspan="2">Posted On</td>
                    <td rowspan="2">Cost Price</td>
                    <td colspan="2">SGST</td>
                    <td colspan="2">CGST</td>
                    <!-- <td rowspan="2">TOTAL TAX</td> -->
                    <td rowspan="2">Quantity</td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>Amount</td>
                    <td>Rate</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in product_history">
                    <td>{{ item.posted_on }}</td>
                    <td>{{ item.cost_price | currency:"&#8377;" }} / {{ product.unit }}</td>
                    <td>{{ item.sgst_rate }}%</td>
                    <td>{{ item.sgst_rate * item.cost_price / 100 }}</td>
                    <td>{{ item.cgst_rate }}%</td>
                    <td>{{ item.cgst_rate * item.cost_price / 100 }}</td>
                    <!-- <td>{{ item.total_tax }}</td> -->
                    <td>{{ item.quantity }} {{ product.unit }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>