<div class="ui segment">
    <div class="ui header">
        Bill Details
        <button class="ui right floated green button"
                ng-click="saveData()">
            Save Bill
        </button>
    </div>
    <div class="content">
        <table class="ui compact celled table">
            <thead>
                <tr>
                    <td rowspan="2">Item</td>
                    <td rowspan="2">Quantity</td>
                    <td rowspan="2">Rate</td>
                    <td colspan="2">SGST</td>
                    <td colspan="2">CGST</td>
                    <td>Amount</td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>Amount</td>
                    <td>Rate</td>
                    <td>Amount</td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in transactions">
                    <td>
                        <i class="icon delete"
                           ng-click="deleteRow(item)"></i>
                        {{ item.product_name }}
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.rate }}</td>
                    <td>{{ item.sgst_rate }}</td>
                    <td>{{ item.amount * item.sgst_rate / 100 }}</td>
                    <td>{{ item.cgst_rate }}</td>
                    <td>{{ item.amount * item.cgst_rate / 100 }}</td>
                    <td>{{ item.amount | currency:"&#8377;" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>